:root {
  --color-primary: #141414;
  --color-secondary: #1f1f1f;
  --color-hover: #c4f82a;
  --color-button: #333;
  --colo-font: #ffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  height: 100vh;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: var(--color-secondary);
  width: 500px;
  height: 680px;
}

img {
  margin-top: 20px;
  width: 125px;
  height: 125px;
  border-radius: 75px;
  margin-bottom: 15px;
}

.container-description {
  margin-top: 20px;
  color: white;
  font-size: 20px;
}

.description-living {
  margin-top: 8px;
  font-size: 14px;
  color: var(--color-hover);
  margin-bottom: 20px;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-links {
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-align: center;
  margin-top: 20px;
  background-color: var(--color-button);
  cursor: pointer;
  font-weight: bold;
  border-radius: 12px;
}

a {
  text-decoration: none;
  color: (var(--color-font));
}

.container-links:hover {
  background-color: var(--color-hover);
  transition: 0.5s;
  color: #000;
}
